.registration {
    margin: 64px 0 96px 0;

    &__wrp {
        display: flex;

        @include mobile {
            display: block;
        }
    }
    
    &__field {
        flex-grow: 1;
    }
    
    &__name {
        @include font (16px, 19px);
        font-weight: 300;
    }
    
    &__label {
        display: block;
    }
    
    &__input {
        margin: 20px 0 0 0;
        background-color: $white;
        border: none;
        width: 360px;
        min-height: 45px;
        outline: 1px solid $border-color;
        padding: 0 0 0 17px;
    }
    
    &__input:hover,
    &__input:focus {
        outline: 1px solid $pink-text;
    }
    
    &__gender {
        margin: 31px 0 0 0;
    }
    
    &__margin {
        margin: 0 20px 0 0;
    }
    
    &__details {
        @include font (16px, 19px);
        font-weight: 300;
        padding: 33px 0 0 0;
    }
    
    &__text {
        width: 360px;
        @include font (13px, 16px, 300);
        color: $grey-text;
        margin: 15px 0 0 0;
    }
    
    &__button {
        margin: 39px 0 0 0;
        border: none;
        background-color: $pink-text;
        color: $white;
        width: 167px;
        min-height: 50px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    &__button:hover,
    &__button:focus {
        opacity: 0.5;
        cursor: pointer;
    }
    
    &__button:active {
        opacity: 0.7;
    }
    
    &__loyalty {
        padding: 0 0 0 128px;

        @include tablet {
            padding: 0 0 0 22px;
        }

        @include mobile {
            padding: 40px 0 0 0;
        }

        &-title {
            @include font (24px, 29px, 300);
            text-transform: uppercase;
        }
        
        &-text {
            width: 652px;
            @include font (24px, 29px, 300);
            margin: 22px 0 0 0;

            @include tablet {
                width: 354px;
            }
        }
        
        &-list {
            margin: 21px 0 0 0;
        }
        
        &-item {
            @include font (24px, 29px, 300);
            margin: 0 0 0 50px;
            position: relative;
        }
        
        &-item::before {
            position: absolute;
            content: '';
            background-image: url('../img/registration-check.svg');
            background-size: 20px 16px;
            width: 20px;
            height: 16px;
            left: -45px;
            top: 7px;
        }
    }
}