.title-arrivals {
    min-height: 148px;
    background-color: $registration-bkg;

    &__text {
        padding: 59px 0 0 0;
        @include font (24px, 29px);
        color: $pink-text;
        text-transform: uppercase;

        @include mobile {
            padding: 24px 0 0 0;
        }
    }

    &__wrp {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__breadcrumbs {
        padding: 59px 0 0 0;

        @include mobile {
            padding: 32px 0 46px 0;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        text-transform: uppercase;
        @include font ($font-weight: 700);
        color: $border-color;
        padding: 0 0 0 5px;
    }

    &__item-pink {
        color: $pink-text;
    }
}